<% include ../head.ejs %>

<div class="container">
    <div class="row">
        <% requests.map(function(r){ %>
        <div class="col6 auto-clear">
            <a href="/request/<%- r.id %>">
                <% var approvalString = r.getApprovalString() %>
                <div class="tile <%- approvalString %>">
                    <h2><strong>User:</strong> <%- r.username %></h2>
                    <h3 class="italic"><%- approvalString %></h3>
                    <br>
                    <span><strong>Status:</strong> <%- r.status %></span>
                </div>
            </a>
        </div>
        <% }); %>
    </div>
</div>

<% include ../foot.ejs %>