<% include ../head.ejs %>

<div class="container">
    <h2>Request</h2>
    <p>ID: <%- request.id %></p>
    <p>Username: <%- request.username %></p>
    <p>Approved: <%- request.approved %></p>
    <p>Date: <%- request.date %></p>
    <p>Created At: <%- request.createdAt %></p>
    <p>Status: <%- request.status %></p>

    <ul>
        <% request.constructs.map(function(construct){ %>
        <li>
            <h3>Construct</h3>
            <p>ID: <%- construct.id %></p>
            <p>Name: <%- construct.name %></p>
            <p>Backbone: <%- construct.backbone %></p>
            <p>T-DNA: <%- construct.tdna %></p>
            <p>Vectors: <%- construct.vectors %></p>
            <ul>
                <% construct.strains.map(function(strain){ %>
                <h3>Strain</h3>
                <li>
                    <p>ID: <%- strain.id %></p>
                    <p>Strain: <%- strain.strain %></p>
                    <p>Genomes: <%- strain.genomes %></p>
                </li>
                <% }); %>
            </ul>
        </li>
        <% }); %>
    </ul>
</div>

<% include ../foot.ejs %>