<% include ../head.ejs %>

<div class="container">
    <h1 class="center">Request</h1>

    <p>TRF Stage: <%- request.status %></p>
    <p>User: <%- request.user.name %></p>
    <p>Species: <%- JSON.parse(request.species).name %></p>

    <table>

        <tr>
            <th>Construct</th>
            <th>Agro</th>
            <th>Genotype</th>
            <th>Current Stage</th>
            <th>Date of next stage (estimate)</th>
        </tr>

        <% request.constructs.map(function(construct){ %>
        <% construct.strains.map(function(strain){ %>
        <% strain.genomes.map(function(genome){ %>

        <tr>
            <td><%- construct.name %></td>
            <td><%- strain.strain %></td>
            <td><%- genome %></td>
            <td><%- request.status %></td>
            <td>NOT AVAILABLE</td>
        </tr>

        <% }); %>
        <% }); %>
        <% }); %>

    </table>


</div>

<% include ../foot.ejs %>